<footer class="text-center mt-3 border-top">
  <div class="container p-4 pb-0">
    <section class="mb-4">
      <a class="btn btn-outline-dark btn-floating m-1" href="https://es.linkedin.com/in/alfonso-manuel-montes-marquez"
        target="_blank" role="button"><i class="fab fa-linkedin-in"></i></a>
    </section>
  </div>
  <div class="text-center text-white p-3 bg-dark">
    Diseñado y desarrollado por <span class="fw-bold">Alfonso Manuel Montes Márquez</span><br>
    <a href="https://nomics.com/" target="_blank" class="text-decoration-none text-white">Crypto Market Cap & Pricing
      Data Provided By Nomics</a>
  </div>
</footer>
